header {
    background-color: rgb(5, 5, 5);
    border-bottom: solid white;
    position: sticky;
    top: 0;
    z-index: 100;
}

header p {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 0;
}

header button {
    font-weight: bold;
    border-radius: .25rem;
    border-style: none;
    margin-bottom: .25rem;
    width: 100%;
}

#damageButton {
    width: calc(100% - 6rem) !important;
}

html,
body,
#root {
    background-color: rgb(5, 5, 5);
    color: white;
    width: 100%;
    height: 100%;
}

input {
    max-width: 100%;
}

#newObjectContainer {
    position: fixed;
    max-width: 1000px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: rgb(5, 5, 5);
    border: white solid 2px;
    border-radius: .4rem;
    padding: .5rem;
}

#nameInput,
#notesInput {
    width: 100%;
    margin: .25rem 0rem;
}

#headerContent {
    max-width: 1100px;
}

#bodyContent {
    background-color: rgb(40, 40, 40);
    max-width: 1100px;
    height: 100%;
    padding: .5rem 1rem;
    margin: auto;
}

@media only screen and (max-width: 600px) {
    #bodyContent {
        padding: .5rem .5rem;
    }
}

.numberInput {
    max-width: 4rem;
    margin: .25rem 0rem;
}

#damageInput {
    margin-left: .5rem;
    margin-right: .5rem;
}

.contentRow {
    margin-bottom: .25rem;
}

.HpBarContainer {
    padding: .2rem .2rem 0 .2rem;
}

.HpBarMax {
    height: .6rem;
    background-color: white;
    border-radius: .2rem;
    margin: auto;
}

.HpBarCur {
    height: .4rem;
    background-color: red;
    position: relative;
    top: .1rem;
    margin: 0rem .1rem;
    border-radius: .3rem;
}

.initCount {
    width: 40px;
    font-weight: bold;
    border-bottom: white solid .2rem;
    border-right: white solid .2rem;
    border-bottom-right-radius: 1rem;
    margin-bottom: .25rem;
}

.initCount:hover {
    cursor: pointer;
    background-color: #444444;
}

.initObject {
    border-style: solid;
    border-width: .1rem;
    border-radius: .5rem;
    border-color: grey;
    margin-bottom: .25rem;
    margin-top: .25rem;
    background-color: black;
}

.activeObject.initObject {
    border: white double .3rem;
    margin-bottom: 0rem;
    margin-top: 0rem;
}

.objectSelect {
    margin: auto .5rem auto auto;
}

.notesField {
    width: 100%;
    background-color: transparent;
    color: lightgray;
    margin: .25rem 0;
    padding-left: .5rem;
}

.writeField {
    min-width: 2em;
    background-color: transparent;
    color: white;
    border: none;
}

.centered {
    margin: auto;
}

.fullHeight {
    height: 100%;
}

.flexContainer {
    display: flex
}